*
{
    padding: 0;
    margin: 0;
}

body
{
    background: linear-gradient(rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.4)),url("../Wallpapers/1.png") no-repeat fixed;
    background-size: cover;
}

.stage
{
    position: relative;
    margin: 2vh auto;
    max-height:90vh ;
    max-width: 90vw;
    border-radius: 20px;
    background:linear-gradient(rgba(0, 0, 0, 0.596),rgba(0, 0, 0, 0.274),rgba(0, 0, 0, 0.719)), wheat;
    box-shadow: 1vw 2vw 15px white;
    transition: all 500ms linear;
    text-align: center;
    padding:3%;
    box-sizing: border-box;
}

.stage:hover
{
      box-shadow: 0 0 0;
      transform: scale(0.97);
}


h3{
    text-align: left;
    font-size: 2.6vh;
    font-weight: 300;
    line-height: 130%;
}

em{
    font-weight: 600;
}

a
{
    position: absolute;
    bottom:-12vw;
    left: 40%;
    background-color: rgba(255, 255, 255, 0.548);
    border-radius: 10px;
    padding: 2vw;
    text-decoration: none;
    color: black;
    box-shadow: -2vw 1vw 5px black;
        transition: all 500ms linear;

}

a:hover
{
    background: white;
    box-shadow: 0 0 0 0;
    transform: scale(0.97);
}