* {
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url("7.png");
}

.login {
  width: 100vw;
  min-height: 100vh;
  padding: 20px 0;
}

.stage {
  width: 70vw;
  margin: 10vh auto;
  box-sizing: border-box;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("9.png");
  box-shadow: 2vw 1vw 5px;
  border-radius: 20px;
  box-sizing: border-box;
  padding: 5%;
  text-align: center;
  font-size: 1vw;
  transition: all 500ms linear;
}




.stage:hover {
  transform: scale(0.97);
  box-shadow: 0 0 0;
}

input {
  padding: 1.4vw;
  height: 3vh;
  width: 80%;
  border: 0;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.508);
  box-shadow: 1vw 0.4vw 5px;
  margin-bottom: 3vw;
  font-size: 2vw;
  transition: all 0.5s linear;
}

select,
textarea {
  margin-bottom: 3vw;
}

input:hover {
  box-shadow: 0 0 0;
  background: white;
  transform: scale(0.97);
}

textarea {
  background: rgba(25508, 255, 255, 0.5);
  font-size: 2vw;
  box-shadow: 1vw 0.4vw 5px;
  border: 0;
  width: 80%;
  height: 40%;
  border-radius: 5px;
  transition: all 0.5s linear;
}

textarea:hover {
  box-shadow: 0 0 0;
  background: white;
  transform: scale(0.97);
}

button {
  display: inline-block;
  padding: 3%;
  border: 0;
  border-radius: 10px;
  box-sizing: border-box;
  box-shadow: 1vw 0.4vw 5px;
  min-width: 20px;
  background: rgba(255, 255, 255, 0.582);
  transition: all 0.5s linear;
}
button h5 {
  font-size: 3vw;
}

a {
  text-decoration: none;
  color: black;
  font-size: 3vw;
}

.Register-btn {
  margin-left: 8%;
  float: left;
}

.reset-btn {
  float: right;
  margin-right: 8%;
}

.home-btn {
  padding: 0;
}

.home-btn a {
  display: inline-block;
  width: 15vw;
  min-width: 40px;
  padding: 9.5%;
  border: 0;
  box-sizing: border-box;
}

h5 {
  font-size: 2vw;
}

button:hover {
  box-shadow: 0 0 0;
  transform: scale(0.9);
  background: white;
}

select {
  width: 80%;
  color: black;
  background: rgba(255, 255, 255, 0.582);
  border-radius: 4px;
  font-weight: bold;
  box-shadow: 1vw 0.4vw 5px;
  transition: all 0.5s linear;
  font-size: 2vw;
}

select:hover {
  background: white;
  box-shadow: 0 0 0;
  transform: scale(0.97);
}

button {
  display: inline-block;
  padding: 3%;
  border: 0;
  border-radius: 10px;
  box-sizing: border-box;
  box-shadow: 1vw 0.4vw 5px;
  min-width: 20px;
  background: rgba(255, 255, 255, 0.582);
  transition: all 0.5s linear;
}


.Register-btn {
  margin-left: 8%;
  float: left;
}

.reset-btn {
  float: right;
  margin-right: 8%;
}

.home-btn {
  padding: 1px;
}

.home-btn a {
  display: inline-block;
  width: 15vw;
  min-width: 40px;
  padding: 9.5%;
  border: 0;
  box-sizing: border-box;
}
::placeholder
{
    font-size: 3vw;
}

@media screen and (max-width: 500px) {
  .stage {
    width: 95vw;
    
  }

  button h5,a,::placeholder{
      font-size: 4vw;
  }
}

